In [1]:
import pandas as pd
import numpy as np
import re
# from unidecode import unidecode
import spacy
from spacy.lang.en import English
from spacy import displacy
nlp = spacy.load('en_core_web_md', disable=["ner", "textcat", "entity_ruler", "merge_noun_chunks", "merge_entities", "merge_subtokens"])

dfExoplanetsNASAdetect=pd.read_pickle("dfdetect") # only those df that contain expression "detect"
dfT=dfExoplanetsNASAdetect["abstract"]
dfT.to_frame().T
dfT.columns=["id","abstract"]
dfT=dfT.reset_index()
dfT.head(2)

In [2]:
dfExoplanetsNASA = pd.read_json('./data/dfExoplanetsNASA_v2.json', orient = 'table')
dfExoplanetsNASA = dfExoplanetsNASA[dfExoplanetsNASA.abstract != 'None'].reset_index(drop=True)

In [3]:
len(dfExoplanetsNASA)

29745

In [4]:
dfExoplanetsNASA.head(2)

,bibcode,DOI,authors,affiliation,acknowledgements,grant,published,year,title,abstract,keywords,citation_count
0,2019NewA...70....1B,10.1016/j.newast.2018.12.005,"[Zhang Bin, Qian Sheng-Bang, Liu Nian-Ping, Zh...","[School of Physics and Electronic Science, Gui...",We thank the anonymous referee for useful comm...,[],2019-07-00,2019,First photometric study of a short-period deta...,NSVS 10441882 is a newly discovered eclipsing ...,"[Binary, Eclipsing binary, Light curve, Orbita...",0
1,2019CNSNS..71...82A,10.1016/j.cnsns.2018.10.026,"[M. Alvarez-Ramírez, E. Barrabés, M. Medina, M...","[Dept. de Matemáticas, UAM-Iztapalapa, Ciudad ...",E. Barrabs has been supported by grants MTM201...,[],2019-06-00,2019,Ejection-Collision orbits in the symmetric col...,"In this paper, we consider the collinear symme...","[Collinear four-body problem, Ejection/collisi...",0

# read doc of abstracts

In [5]:
 dfExoplanetsDoc=pd.read_pickle("/Users/gerdgrasshoff/Dropbox/temp/df_doc.pcl")
#dfExoplanetsDoc=pd.read_pickle("c:/Dropbox/temp/df_doc.pcl")

## List of dicts

In [6]:
sentences = []
for index,doc in enumerate(dfExoplanetsDoc):
    sent = {}
    for isent,sent in enumerate(doc.sents):
              sentences.append({"id":index,"isent":isent,"sentence":sent.string.strip()})

In [7]:
len(sentences)

293941

In [8]:
sentences[100]

{'id': 9,
 'isent': 1,
 'sentence': 'A recent model has proposed that the giant planet instability happened during terrestrial planet formation.'}

In [9]:
dfExoSents=pd.DataFrame(sentences)
len(dfExoSents)

293941

In [10]:
dfExoSents.head(10)

   id  isent                                           sentence
0   0      0  NSVS 10441882 is a newly discovered eclipsing ...
1   0      1  In order to study this eclipsing binary system...
2   0      2                                             c</SUB
3   0      3                                                  >
4   0      4                                              I<SUB
5   0      5                                                  >
6   0      6                                           c</SUB>)
7   0      7                                      light curves.
8   0      8  The observed light curves were asymmetric, so ...
9   0      9  We discovered that NSVS 10441882 is a detached...

In [11]:
dfExoSents.to_pickle("/Users/gerdgrasshoff/Dropbox/temp/dfExoSents.pickl")

In [12]:
def todo(ax):
    return(nlp(ax["sentence"]))
dfExoSentsDoc=dfExoSents.apply(lambda a:todo(a),axis=1)

In [13]:
len(dfExoSentsDoc)

293941

In [14]:
dfExoSentsDoc.to_pickle("/tmp/dfExoSentsDoc.pickl")